<!DOCTYPE html>
<html ng-app="journey" ng-csp>
  <head >
    <title>Journey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Loading Bootstrap -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <!-- Loading Flat UI -->
    <link href="css/flat-ui.css" rel="stylesheet">
    <!-- Custom -->
    <link href="css/journey.css" rel="stylesheet" media="screen" />
  </head>
  <body>

    <script src="js/angular.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/date.js"></script>
    <script src="js/journey.js"></script>
    
    <header class="header" id="overview">
      <div class="row">
        <div class="span1"></div>
        <div class="span18">
          <h1>Your Journey</h1>
        </div>
      </div>
      <div class="row">
        <div class="span2"></div>
        <p class="lead">the story of Edgar Neto</p>
      </div>
    </header>

    <div class="row">

      <!-- LEFT -->
      <section id="past">
        <div class="span1"></div>
        <div class="span8">
          <div class="page-header"> <h2> Where were you one year ago? </h2> </div>
          
            <a href="#fakelink" class="btn btn-large btn-social-facebook">
              <i class="fui-facebook"></i>
              Connect with Facebook
            </a>
            <a href="#fakelink" class="btn btn-large btn-social-twitter">
              <i class="fui-twitter"></i>
              Connect with Twitter
            </a>
          
          <div class="row">
            <div id="newsfeed">
              

            </div> 
          </div>
        </div>
      </section>  

      <!-- CENTER -->
      <div class="span1"></div>

      <!-- RIGHT -->
      <section id="future" ng-controller="GoalsController">
        <div class="span8">
          <div class="page-header"> 
            <h2> 
              Where will you be one year from now?
            </h2> 
          </div>
          <div class="row tight">
            <div class="span8">
              <div class="control-group large">
                <form ng-submit="addGoal()">
                  <input ng-model="newGoal" id="future-box" type="text" placeholder="ex.: Achieve ideal weight"/>
                </form>
              </div>
            </div>
          </div>
          <div class="huge" ng-init="load()">
            <ul class="nav nav-list">
            <li class="nav-header">Goals</li>

            <li ng-repeat="goal in db.goals">
              <a href="#fakelink">
                {{goal.description}}
                <span class="nav-counter">{{goal.deadline | daysLeft}} days left</span>
              </a>
            </li>
            
          </ul>
          </div>
        </div>
      </section>
    </div>

    <!-- FOOTER -->
    <!-- <div class="bottom-menu footer">
      <div class="container">
        <div class="row">
          <div class="span2 brand">
            <a href="#fakelink" class="fui-flat"></a>
          </div>

          <div class="span8">
            <ul class="bottom-links">
              <a href="http://designmodo.com/shop/?u=358"> Flat UI </a>
              <li><a href="#fakelink">About Us</a></li>
              <li><a href="#fakelink">Store</a></li>
              <li class="active"><a href="#fakelink">Jobs</a></li>
              <li><a href="#fakelink">Privacy</a></li>
              <li><a href="#fakelink">Terms</a></li>
              <li><a href="#fakelink">Follow Us</a></li>
              <li><a href="#fakelink">Support</a></li>
              <li><a href="#fakelink">Links</a></li>
            </ul>
          </div>

          <div class="span2">
            <ul class="bottom-icons">
              <li><a href="#fakelink" class="fui-pinterest"></a></li>
              <li><a href="#fakelink" class="fui-facebook"></a></li>
              <li><a href="#fakelink" class="fui-twitter"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div> -->

  </body>

</html>