@import url(http://fonts.googleapis.com/css?family=Flamenco|Josefin+Sans:400,700);

/* Color palettes */
* .bg-aqua * {
  background-color: #1ABC9C;
  color: #ECF0F1;
}

* .bg-blue * {
  background-color: #3498db;
  color: #ECF0F1;
}

* .bg-orange * {
  background-color: #e67e22;
  color: #ECF0F1;
}

* .bg-red * {
  background-color: #c0392b;
  color: #ECF0F1;
}

* .bg-black * {
  background-color: #2c3e50;
  color: #ECF0F1;
}

* .bg-white * {
  background-color: #ecf0f1;
  color : #2c3e50;
}

* .bg-yellow * {
  background-color: #f39c12;
  color: #ECF0F1; 
}

* .aqua * {
  color: #16a085;
}

* .blue * {
  color: #3498db;
}

* .orange * {
  color: #d35400;
}

* .red * {
  color: #e74c3c
}

* .yellow * {
  color: #f39c12;
}

* .black * {
  color: #2c3e50;
}

* .white * {
  color: #2c3e50;
}

/* Common Elements */
.header {
    font-family: 'Josefin Sans';
    margin-bottom: 40px;
}

.footer {
    font-family: 'Lato';
    position: absolute;
    bottom:0;
    width:100%;
}

.header h1
{
    font-weight: 700;
    font-size:70px;
    /*margin:40px;*/
    margin-bottom: 0;
    margin-top:40px;
}

.header .lead {
    color: #34495E;
    font-size:21px;
    font-weight:100;
}

.page-header h2 {
    font-family: 'Lato';
    /*color: #34495E;*/
    font-weight:100;
    font-size:26pt;
}

.options {
  font-size: 26pt;
  padding: 10px;
  vertical-align: middle;
  font-family: 'Flat-UI-Icons';
}

.options ul li a {
  transition:none;
}

/*Goals*/

#future-box {
    width:100%;
}


.task span.nav-counter
{
  background-color: inherit;
  /*color: #95A5A6;*/
  font-size: 17px;
  margin-right:33px;
}

.task_li:hover span.nav-remove {
  display:block;
  background-color: #E74C3C;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12.992px;
  font-weight: 500;
  float: right;
  margin: 1px 0 -1px -30px;
  padding: 0px 3px;
}

.task_li span.nav-remove {
  display:none;
}

.checkbox .icons {
  font-size:22px;
  line-height: 24px;
}

.task {
  font-size:18px;
}

.task.scratch {
    text-decoration: line-through;
    color: #bdc3c7;
}

.toggled {
  display: none !important;
}

.toggled .show {
  display: block;
}

/* Newsfeed */

.feed.status {
  margin:10px 0 10px 0;
}

.feed span.fui-bubble,
.feed span.fui-photo,
.feed span.fui-facebook {
  margin:0 10px 0 0;
}

.feed.status p.message {
  text-align: justify;
  font-style: italic; 
}

.feed p.date {
  text-align: right;
  color: #95A5A6;
  font-size: 17px;
  font-weight: 500;
}

.feed p.date a .fui-export {
  font-size:10px;
}

.loading {
  font-size: 18px;
}

ul.nav-list {
  margin-right: -60px;
}

@media (max-width: 1024px) {

  .header {
    margin-bottom: 30px;
  }

  .header h1 {
    font-size:60px;
  }

  .page-header h2 {
    font-size:20px;
  }
}


